.item1 {
	background: rgb(199, 220, 233);
	grid-area: header;
}

.item2 {
	background: rgb(252, 197, 176);
	grid-area: hero;
}

.item3 {
	background: PaleTurquoise;
	grid-area: body;
}

.item4 {
	background: rgb(165, 218, 22);
	grid-area: advert;
}

.item5 {
	background: rgb(236, 126, 231);
	grid-area: sidebar;
}

.item6 {
	background: rgb(195, 221, 224);
	grid-area: footer;
}

.container {
	font-size: 1.5em;
	min-height: 300px;
	width: 100%;
	background: rgb(194, 189, 189);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px auto 1fr auto auto;
	grid-gap: 10px;
	grid-template-areas:
		"header"
		"hero"
		"body"
		"advert"
		"footer";
}

@media (max-width: 576px){
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: 10vh 15vh 50vh 10vh 5vh;
		grid-gap: 10px;
		grid-template-areas:
			"header"
			"hero"
			"body"
			"advert"
			"footer";
	}
	.item5 {
		background: rgb(202, 46, 18);
		display: none;
	}
}

@media (min-width: 576px){
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: 10vh 15vh 45vh 10vh 7vh 5vh;
		grid-template-areas:
		"header"
		"hero"
		"body"
		"advert"
		"sidebar"
		"footer";
	}
}

@media (min-width: 992px){
	.container{
		grid-template-columns: 40% 35% auto;
		grid-template-rows: 10vh 20vh 50vh 10vh ;
		grid-template-areas:
			"header header header"
			"hero hero advert"
			"body body sidebar"
			"footer footer footer";
	
	
	}
}