.item1 {
	background: rgb(133, 188, 223);
	grid-area: header;
	border-style: solid;
	display: flex;
	flex-wrap: wrap;
	height: 16vh;
}
.item1 > div {
	background-color: green;
	text-align: center;
	line-height: 75px;
		
}
  
.brand {
	width:91vw;
	height: 33%;
	margin: 2px;
		
}
.global {
	width: 45vw;
	height: 33%;
	margin: 2px;
	
}
.tools {
	width: 45vw;
	height: 33%;
	margin: 2px;
}
  
.item2 {
	background: rgb(252, 197, 176);
	grid-area: herofeature;
}

.item3 {
	background: PaleTurquoise;
	grid-area: heroaction;
}

.item4 {
	background: rgb(165, 218, 22);
	grid-area: bodyfeature;
}

.item5 {
	background: rgb(218, 22, 97);
	grid-area: advert;
}	

.item6 {
	background: rgb(11, 170, 130);
	grid-area: bodylisting;
}

.item7 {
	background: rgb(236, 126, 231);
	grid-area: sidebar;
}

.item8 {
	background: rgb(195, 221, 224);
	grid-area: footer;
}

.container {
	font-size: 1.5em;
	min-height: 300px;
	width: 100%;
	background: rgb(194, 189, 189);
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100px 50px 60px 80px 250px 70px;
	grid-gap: 5px;
	grid-template-areas:
		"header"
		"heroaction"
		"bodyfeature"
		"advert"
		"bodylisting"
		"footer";
}

@media (max-width: 576px){
	.item2 .item7 {
		display: none;
	}
}


@media (min-width: 576px){
	.container{
		font-size: 1.5em;
		min-height: 300px;
		width: 100%;
		background: rgb(248, 233, 233);
		display: grid;
		grid-template-columns: 75% 24%;
		grid-template-rows: 16vh 15vh 10vh 20vh 35vh 10 vh5vh;
		grid-template-areas:
			"header header"
			"herofeature herofeature"
			"heroaction heroaction"
			"bodyfeature advert"
			"bodylisting bodylisting"
			"sidebar sidebar"
			"footer footer";
	}
	.brand {
		width:20vw;
		height: 66%;
		margin: 2px;
			
	}
	.global {
		width: 50vw;
		height: 66%;
		margin: 2px;
		
	}
	.tools {
		width: 20vw;
		height: 66%;
		margin: 2px;
	}
}

@media (min-width: 992px){
	.container{
		grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
		grid-template-rows: 20vh 25vh 45vh 10vh;
		grid-template-areas:
			"header header header header header header header header header"
			"herofeature herofeature herofeature herofeature herofeature heroaction heroaction advert advert"
			"bodyfeature bodyfeature bodylisting bodylisting bodylisting bodylisting bodylisting sidebar sidebar"
			"footer footer footer footer footer footer footer footer footer";
	
	
	}
	
	.item1 {
		height: 19vh;
	}	
	.item1 > div {
		background-color: green;
		text-align: center;
		line-height: 75px;
		font-size: auto;
		
	}
	  
	.brand {
		width:20vw;
		height: 50%;
		margin: 15px;
			
	}
	.global {
		width: 45vw;
		height: 50%;
		margin: 15px;
		
	}
	.tools {
		width: 20vw;
		height: 50%;
		margin: 15px;
	}
}
